h1{
    font-size: 40px;
    font-family: 'Patua One', cursive;
}
#span{
    color: rgb(201, 9, 3);
}


.half-width{
    width: 35%;
    float: left;
    margin: 5%;
    padding: 2%;
}

.half-width img{
    width: 85%;
    border-radius: 500px;
}