body{
    margin: 0px;
}

#decription{
    /* overflow: scroll; */
    height: 100px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    /* background-color: #007bff; */
    background-image: linear-gradient(blue, green);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0062cc;
  }
  

h1{
    font-size: 40px;
    font-family: 'Patua One', cursive;
}
#span{
    color: rgb(201, 9, 3);
}


.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}

.half-width img{
    width: 85%;
    border-radius: 500px;
    margin-left: 250px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    height: 600px;
    border: 2px solid red;
    background-repeat: no-repeat;
}